{% extends 'comunes/base.html' %} 

{% block titulo %}  {% endblock %}

  {% block contenido %}

 <div class="container">
    <center> <h2> {{ tituloFormulario }}  </h2> </center>
    <form method="POST" action="{{ actionFormulario }}">
      {% csrf_token %}
        {{ contenidoFormulario }}


      <hr/>
      <center> <input type="submit" value="Enviar" class="btn btn-primary" onmouseover="calcularSalarioDia()" /> </center>

    </form>
 </div>

<script>

  function calcularSalarioDia(){

    var salario=document.getElementById('id_salario');
    var salarioDia=document.getElementById('id_salarioDia');
    var totalDia=salario.value/30;
    salarioDia.value=totalDia.toFixed(3);

    console.log("Calculo salario x Dia: *** ",totalDia);

  }


</script>

 {% endblock %}


