
{% extends "base.html" %}

{% block titulo %} Lista de Clientes {% endblock %}

{% block contenido %}


    <div class="container">

        <a href="/crearCliente/" style="float: right;"> <img src="https://png.pngtree.com/element_our/png/20181205/add-vector-icon-png_260888.jpg" width="50" title="Crear Clientes"/> </a>
        <table class="table">
        <thead class="table-dark">
            <th>Nombre</th>
            <th>Edad</th>
            <th>Email</th>
            <th>Fecha</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </thead>
        <tbody>
            {% for client in clientes %}
            <tr>
                <td>{{ client.nombre }}</td>
                <td>{{ client.edad }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.fechaNacimi }}</td>
                <td> <a href="../editarCli?id={{ client.id }}"><img src="https://img2.freepng.es/20180319/uje/kisspng-computer-icons-scalable-vector-graphics-apple-icon-edit-png-icon-blue-pencil-5ab065d3a79673.8929716715215098436865.jpg" width="50" /> </a> </td>
                <td> <a href=""> <img src="https://img2.freepng.es/20180203/bqe/kisspng-button-icon-delete-button-png-image-5a756de9e12917.7504282715176452899223.jpg" width="50"/> </a> </td>
            </tr>

            {% endfor %}
        </tbody>
        </table>

    </div>


{% endblock %}    