{% extends '../comunes/base.html' %} 

{% block titulo %}  {% endblock %}

  {% block contenido %}

 <div class="container">
    <center> <h2> {{ tituloListado }}  </h2> </center>

    <div style="float:right"><a href="/usuarios/crear/"> <input type="button" value="Crear" class="btn btn-secondary"/></a> </div>
        <table class="table">
            <thead>
                <th>Nombre Usuario</th>
                <th>Rol</th>
                <th>idEmpleado</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </thead>
            
            <tbody>
                {% for user in lista %}
                    <tr>
                        <td>{{user.nombreusuario}}</td>
                        <td>{{user.rol}}</td>
                        <td>{{user.idEmpleado}}</td>
                        <td><a href="/usuarios/editar?id={{user.id}}"><input type="button" value="Editar" class="btn btn-success" /></td>
                        <td><input type="button" value="Eliminar" class="btn btn-danger" onclick="confirmarEliminacion()"/></td>
                    </tr>    
                {% endfor  %}

            </tbody>

        </table>    



 </div>
 
 <script>
 function alerta(){
    alert("Esto es una alerta disparada por el evento click de un boton");
 }

 function confirmarEliminacion(){
    return confirm("Esta seguro de eliminar el registro");
 }
 </script>


 {% endblock %}